name: Build Package

on:
  workflow_dispatch:
  push_request:
    branches: [ main ]
  pull:
    branch: main

jobs:
  build-package:
    name: Build Simplestats Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"


      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install build tools
        run: pip install build

      - name: Build wheel
        run: python -m build
      
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with: 
          name: app-wheel
          path: dist/*.whl

